:root{
    --card-width: 290px;
    --card-height: 450px;
    --card-padding: 10px;
}

.img-container{
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.card-img-top{
    max-height: 256px;
    object-fit: contain;
}
/*
.card-frame{
    width: var(--card-width);
    height: var(--card-height);
    padding: var(--card-padding);
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    justify-items: center;
}
.img-frame{
    width: calc(var(--card-width) - 50px);
    height: calc((var(--card-width)- 50px) * 2);
}
.p-title{

}
description-frame{

}
*/
